node_modules
dist
coverage
test
docs
**/*.spec.ts
.env
.env.*
!.env.example
.git
.gitignore
.DS_Store
*.log
Dockerfile
docker-compose*.yml
.dockerignore
eslint.config.mjs
jest.config.ts
.prettierrc.json
.prettierignore
